*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Gantari', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.rotate180{
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}

.subtitle{
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}

.textBox{
  max-width: 500px;
  padding: 0 15px 15px 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
}