/*-------------------home-------------------*/
.homepage{
  .section1_home{
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
    background-position: center;
    background-size: cover;
  
    .section1_home_text {
      @include flex-column-center();
      justify-content: flex-end;
      height: 60%;
      h2, p{
        color: $font-color-light;
        font-size: 1.3rem;
        font-variant: small-caps;
      }
      @media screen and (min-width: 780px){
        h2{
        font-size: 1.6rem;
        }
      }
      @media screen and (min-width: 992px){
        h2{
        font-size: 2rem;
        }
      }
    }
  }
  
    .section1_home_arrow{
      @include flex-column-center();
      justify-content: flex-end;
      height: 40%;
      a img{
        margin-bottom: 5px;
        width: 30px;
        height: 30px;
      }
    }
  
  .section2_home{
    @include flex-column-center;
    padding: 30px 15px;
    min-height: 70vh;
  }
  
  .section3_home{
    @include flex-column-center;
    margin-bottom: 25px;  

    .carousel{
      @include flex-column-center;
      justify-content: initial;
      width: 100vw;
      height: 250px;
  
      .carousel-inner{
        width: 240px;
        height: 210px;
        
        div img{
          @extend .carousel-inner;
          border-style: double;
          border-width: 4px;
          border-radius: 30px;
        }
      }
    }
    @media screen and (min-width: 780px){
      margin-bottom: 60px;
      .carousel{
        width: 760px;
        height: 580px;
        .carousel_img, .carousel-inner{
          width: 560px;
          height: 530px;
        }
      }
    }
  }
}
/*------------------------------------------*/


/*-------------------shop-------------------*/
.mainShop{
  @include flex-column-center;
  margin-top: 25px;
  .onSale_container{
    .onSale{
      margin: 15px;
      padding: 8px;
      background-color: $color-3;
      border-style: double;
      border-width: 4px;
      border-radius: 20px;
  
      .onSale-imgContainer{
        @extend .onSale;
        background-image: url(../images/old-paper2-bg.jpg);
        img{
          width: 240px;
          height: 210px;
        }
      } 
  
      .onSaleDescription{
        text-align: center;
        margin: 10px;
        .onSaleDescription_text{
          margin: 0;
          font-size: 1.1rem;
        }
        .price{
          margin: 0;
          font-size: 1.5rem;
          font-weight: bolder;
        }
        a{
          display: inline-block;
          margin-top: 10px;
          padding: 4px 18px;
          border-color: $color-4;
          border-width: 6px;
          border-style: outset;
          border-radius: 12px;
          background-color: $color-5;
          color: $font-color-light;
          font-size: 1.1rem;
          font-weight: bolder;
        }
      }
    }
  }
  @media screen and (min-width: 780px){
    .onSale_container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
/*------------------------------------------*/

/*------------------gallery-----------------*/

.mainGalery{
  @include flex-column-center;
  margin-top: 25px;

  .imgGalery{
    @include flex-column-center;
    .product_img{
      margin: 10px;
      border-style: double;
      border-width: 4px;
      border-radius: 30px;
    }
  }
  @media screen and (min-width: 992px) {
    .imgGalery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    picture{
      img{
      max-width: 680px;
      }
    }
  }
}
/*------------------------------------------*/


/*------------------about-------------------*/
.mainAbout{
  .row-1{
    max-width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;

    .about_imgContainer{
      @include flex-column-center;
      img{
        margin-top: 30px;
        max-width: 480px;
      }
    }
  }
  .row-2{
    margin: 0;
    max-width: 100%;
    div{
      h3{
        margin-top: 100px;
        margin-bottom: 0;
        padding: 0;
      }
    }
    .about_vidContainer{
      @include flex-column-center;
      flex-wrap: wrap;
      margin-bottom: 30px;
      
      @media screen and (max-width: 360px){
        .instagram-media{
          min-width: 100% !important;
        }
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        .instagram-media{
          margin: 10px 20px 30px 0 !important;
        }
      }
    }
  }
}
/*------------------------------------------*/

/*------------------contact-----------------*/
.mainContact{
  @include flex-column-center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
  background-position: center;
  background-size: cover;

  .contactForm_container{
    @include flex-column-center;
    max-width: 950px;
    margin: 20px 0;
    padding: 1.5rem;
    border-radius: 30px;
    color: $font-color-dark;
    background-color: $color-1;
  }
  @media screen and (min-width: 780px){
    .contactForm_container{
      padding: 2.5rem;
    }
  }
}
/*------------------------------------------*/