/*-------------------home-------------------*/
.homepage{
  .section1_home{
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
    background-position: center;
    background-size: cover;
  
    .section1_home_text {
      @include flex-column-center();
      justify-content: flex-end;
      height: 60%;
      h2, p{
        color: $font-color-light;
        font-size: 1.3rem;
        font-variant: small-caps;
      }
      @media screen and (min-width: 780px){
        h2{
        font-size: 1.6rem;
        }
      }
      @media screen and (min-width: 992px){
        h2{
        font-size: 2rem;
        }
      }
    }
  }
  
    .section1_home_arrow{
      @include flex-column-center();
      justify-content: flex-end;
      height: 40%;
      a img{
        margin-bottom: 5px;
        width: 30px;
        height: 30px;
      }
    }
  
  .section2_home{
    @include flex-column-center;
    padding: 30px 15px;
    min-height: 70vh;
  }
  
  .section3_home{
    @include flex-column-center;
    margin-bottom: 25px;  

    .carousel{
      @include flex-column-center;
      justify-content: initial;
      width: 100vw;
      height: 250px;
  
      .carousel-inner{
        width: 240px;
        height: 210px;
        
        div img{
          @extend .carousel-inner;
          border-style: double;
          border-width: 4px;
          border-radius: 30px;
        }
      }
    }
    @media screen and (min-width: 780px){
      margin-bottom: 60px;
      .carousel{
        width: 760px;
        height: 580px;
        .carousel_img, .carousel-inner{
          width: 560px;
          height: 530px;
        }
      }
    }
  }
}
/*------------------------------------------*/


/*-------------------shop-------------------*/
.mainShop{
  @include flex-column-center;
  margin-top: 25px;
  .onSale_container{
    .onSale{
      margin: 15px;
      padding: 8px;
      background-color: $color-3;
      border-style: double;
      border-width: 4px;
      border-radius: 20px;
  
      .onSale-imgContainer{
        @extend .onSale;
        background-image: url(../images/old-paper2-bg.jpg);
        img{
          width: 240px;
          height: 210px;
        }
      } 
  
      .onSaleDescription{
        text-align: center;
        margin: 10px;
        .onSaleDescription_text{
          margin: 0;
          font-size: 1.1rem;
        }
        .price{
          margin: 0;
          font-size: 1.5rem;
          font-weight: bolder;
        }
        a{
          display: inline-block;
          margin-top: 10px;
          padding: 4px 18px;
          border-color: $color-4;
          border-width: 6px;
          border-style: outset;
          border-radius: 12px;
          background-color: $color-5;
          color: $font-color-light;
          font-size: 1.1rem;
          font-weight: bolder;
        }
      }
    }
  }
  @media screen and (min-width: 780px){
    .onSale_container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
/*------------------------------------------*/

/*------------------gallery-----------------*/

.mainGalery{
  @include flex-column-center;
  margin-top: 25px;

  .imgGalery{
    @include flex-column-center;
    .product_img{
      margin: 10px;
      border-style: double;
      border-width: 4px;
      border-radius: 30px;
    }
  }
  @media screen and (min-width: 992px) {
    .imgGalery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    picture{
      img{
      max-width: 680px;
      }
    }
  }
}
/*------------------------------------------*/


/*------------------about-------------------*/
.mainAbout{
  .about_subtitle1  { grid-area: s1; }
  .about_subtitle2  { grid-area: s2; }
  .about_t1         { grid-area: t1; }
  .about_t2         { grid-area: t2; }
  .about_img1       { grid-area: i1; }
  .about_video1     { grid-area: v1; }
  
  display: grid;
  margin: 25px 5px 0 5px;
  grid-template-areas: 
    "s1 s1"
    "t1 t1"
    "t2 t2"
    "i1 i1"
    "s2 s2"
    "v1 v1";
  grid-template-columns: 1fr 1fr;

  div p{
    text-align: justify;
  }
  .about_img1{
    @include flex-column-center;
    img{
      margin: 10px;
      height: 240px;
    }
  }

  .about_subtitle2{
    margin-top: 25px;
  }

  .about_video1{
    @include flex-column-center;
    iframe{
      margin-top: 10px;
      margin-bottom: 15px;
      max-width: 98%;
    }
  }
}

@media screen and (min-width: 600px){
  .mainAbout{
    grid-template-areas: 
      "s1 s1"
      "t1 i1"
      "t2 i1"
      "s2 s2"
      "v1 v1";

      div{
        @include flex-column-center;
      }
  }
}
@media screen and (min-width: 992px){

  .mainAbout{
    grid-template-areas: 
      "s1 s1 s1"
      "t1 t1 i1"
      "t2 t2 i1"
      "s2 s2 s2"
      "v1 v1 v1";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about_subtitle1, .about_subtitle2{
    justify-self: center;
  }

  .about_t1, .about_t2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .about_img1{
    justify-self: flex-start;
  }

  .mainAbout iframe{
    margin-bottom: 30px;
  }
}
/*------------------------------------------*/

/*------------------contact-----------------*/
.mainContact{
  @include flex-column-center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
  background-position: center;
  background-size: cover;

  .contactForm_container{
    @include flex-column-center;
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
    color: $font-color-dark;
    background-color: $color-2;

    .contactForm{
      font-size: 1.2rem;
      text-align: center;

      .contact_div1{
        @include flex-column-center;
        align-items: initial;
        padding: 4px;
      }
      .contact_div2{
        padding: 6px;
      }
    }
  }
  @media screen and (min-width: 780px){
    .contactForm_container{
      padding: 60px;
    }
  }
}
/*------------------------------------------*/