.footerText{
  grid-area: fText;
}

.footerTop{
  grid-area: fTop;
}

.footerSocial{
  grid-area: fSocial;
}

footer{
  display: grid;
  color: $font-color-light;
  grid-template-areas: 
    "fTop"
    "fSocial"
    "fText";
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(../images/footer-bg.jpg);
  background-size: contain;

  img{
    width: 30px;
    height: 30px;
  }
}

.footerText, .footerTop{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial{
  @extend .footerText;
  div {
    margin: 0 8px;
  }
}