*{
  margin: 0;
  padding: 0;
  font-family: 'Gantari', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../images/old-paper-bg.jpg);
  background-size: cover;
}

.td-none{
  text-decoration: none;
}

.rotate180{
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}

.subtitle{
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.textBox{
  max-width: 500px;
  padding: 0 15px 15px 15px;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
}
@media screen and (min-width: 992px){
  .subtitle{
    font-size: 2em;
  }
  .textBox{
    font-size: 1.4em;
    max-width: 800px;
  }
}

$redes:(
  whatsapp: #25D366,
  facebook: #4267B2,
  instagram: #E1306C
);

@each $red, $color in $redes {
  .btn--#{$red}{
    background-color: $color;
  }
}

/*------------------navbar------------------*/
header{
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2%;
  background-image: url(../images/nav-bg.jpg);
  background-size: contain;
  z-index: 2;

  .offcanvas-body{
    overflow-y: visible;
  }

  .divSocial{
    @include flex-column-center();
    align-self: flex-end;
    margin: 0 10px 10px 0;
    max-width: fit-content;
  
    .btn--rsocial{
      @extend .hover_zoom;
      display: inline-block;
      margin: 4px 2px;
      height: 40px;
      width: 125px;
      border: none;
      color: $font-color-light;
      text-align: center;
      font-size: 1rem;
      border-radius: 6px;
      cursor: pointer;
  
      a{
        color: $font-color-light;
      }
    }
  }
}

.header-index{
  @extend header;
  position: fixed;
}

.nav-link{
  color: $font-color-light;
  font-variant: small-caps;
}

.navbar-logo{
  margin: 0;
  color: $font-color-light;
  font-size: 3.5rem;
  font-family: 'Great Vibes', cursive;
}

.logo_desktop{
  display: none;
}

@media screen and (min-width: 992px){
  header{
    padding: 0%;

    .logo_mobile, .divSocial{
      display: none;
    }
    .navbar-logo{
      font-size: 4rem;
    }
    .nav-link{
      font-size: 1.5rem;
    }
    .container-fluid, .navbar{
      width: 100%;
    }
    .navbar-nav{
      margin: 0 15px;
      justify-content: space-between !important;
      align-items: flex-end !important;
      .logo_desktop{
        display: flex;
      }
    }
  }
}
/*------------------------------------------*/

/*------------------footer------------------*/
.footerText{
  grid-area: fText;
}

.footerTop{
  grid-area: fTop;
}

.footerSocial{
  grid-area: fSocial;
}

footer{
  display: grid;
  color: $font-color-light;
  grid-template-areas: 
    "fTop"
    "fSocial"
    "fText";
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(../images/footer-bg.jpg);
  background-size: contain;

  img{
    width: 30px;
    height: 30px;
  }
}

.footerText, .footerTop{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial{
  @extend .footerText;
  div {
    margin: 0 8px;
  }
}
@media screen and (min-width: 780px){
  footer{
    grid-template-areas: 
      "fTop  fSocial"
      "fText  fText";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    img{
      width: 40px;
      height: 40px;
    }
  
    .footerSocial{
      justify-content: flex-end;
      margin: 10px;
    }
  
    .footerSocial div{
      margin: 0 20px;
    }
  
  
    .footerTop{
      position: absolute;
      justify-self: center;
      margin-top: 10px;
    }
  }
}
/*------------------------------------------*/