
@media screen and (min-width: 600px){

  .product_img, .onSale img, .carousel_img, .carousel-inner{
    width: 300px;
    height: 270px;
  }
  
  .carousel{
    width: 400px;
    height: 320px;
  }

  .onSale{
    margin: 25px;
    padding: 18px 18px 5px 18px;
  }

  .mainAbout{
    grid-template-areas: 
      "s1 s1"
      "t1 i1"
      "t2 i1"
      "s2 s2"
      "v1 v1";
  }

  .about_img1{
    justify-content: center;
  }

  .about_img1 img{
    height: 360px;
  }

  .contact_div2{
    padding: 20px;
  }

  .footerSocial div{
    margin: 0 15px;
  }
}

@media screen and (min-width: 780px){

  .section1_home_text h2{
    font-size: 1.6em;
  }

  .product_img, .onSale img, .carousel_img, .carousel-inner{
    width: 360px;
    height: 330px;
  }

  .carousel{
    width: 480px;
    height: 380px;
  }
}

@media screen and (min-width: 992px){

  header, .header-index{
    padding: 0;
  }

  .navbar{
    display: none;
  }

  .navbar_desktopLink1{
    grid-area: l1;
  }
  
  .navbar_desktopLink2{
    grid-area: l2;
  }
  
  .navbar_desktopLink3{
    grid-area: l3;
  }
  
  .navbar_desktopLink4{
    grid-area: l4;
  }
  
  .navbar_desktopLogo{
    grid-area: li;
  }
  
  .navbar_desktop{
    display: grid;
    padding: 15px 5px 0 5px;
    grid-template-areas:
    "l1 l2 li l3 l4";
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  }
  .navbar_desktop li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  
  .navbar_desktopLogo a h1{
    font-size: 70px;
  }  
  
  .section1_home_text h2{
    font-size: 2em;
  }

  .subtitle{
    font-size: 2em;
  }

  .textBox{
    font-size: 1.4em;
    max-width: 800px;
  }

  .section2_home{
    min-height: 55vh;
  }

  .section3_home{
    margin-bottom: 60px;
  }

  .carousel_img, .carousel-inner{
    width: 560px;
    height: 530px;
  }

  .carousel{
    width: 760px;
    height: 580px;
  }
  
  .imgGalery, .onSale_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainAbout{
    grid-template-areas: 
      "s1 s1 s1"
      "t1 t1 i1"
      "t2 t2 i1"
      "s2 s2 s2"
      "v1 v1 v1";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about_subtitle1, .about_subtitle2{
    justify-self: center;
  }

  .about_t1, .about_t2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .about_img1{
    justify-self: flex-start;
  }

  .mainAbout iframe{
    margin-bottom: 30px;
  }

  .contactForm_container{
    padding: 60px;
  }

  footer{
    grid-template-areas: 
      "fTop  fSocial"
      "fText  fText";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  footer img{
    width: 40px;
    height: 40px;
  }

  .footerSocial{
    justify-content: flex-end;
    margin: 10px;
  }

  .footerSocial div{
    margin: 0 20px;
  }


  .footerTop{
    position: absolute;
    justify-self: center;
    margin-top: 10px;
  }
}