
.mainGalery, .mainShop{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.bodyShop, .bodyGalery{
  background-image: url(../images/old-paper-bg.jpg);
}

.imgGalery{
  display: flex;
  flex-direction: column;
}

.product_img{
  margin: 10px;
}