.onSale{
  margin: 15px;
  padding: 8px 8px 5px 8px;
  background-color: $color-3;
  border-style: double;
  border-width: 4px;
  border-radius: 20px;

  .onSale-imgContainer{
    border-style: double;
    border-width: 4px;
    border-radius: 30px;
    background-image: url(../images/old-paper2-bg.jpg);
  
    img{
      width: 240px;
      height: 210px;
      margin: 10px;
    }
  } 

  .onSaleDescription{
    text-align: center;
    margin: 10px 0;
    
    p{
      font-size: large;
      margin-bottom: 8px;
    }
    
    a{
      display: inline-block;
      margin-top: 15px;
      padding: 4px 18px;
      border-color: $color-4;
      border-width: 6px;
      border-style: outset;
      border-radius: 12px;
      background-color: $color-5;
      color: $font-color-light;
      font-size: 17px;
      font-weight: bolder;
      text-decoration: none;
    }
  }
}