// color palette
$color-1: #F0ECE3; //body_background contact_form_background
$color-2: #f7e9d8; //onSale_background
$color-3: #7992a0; //
$color-4: #596E79; //btn-custom-1 onSale_button
$color-5: #3f4e4f; //btn-custom-1 onSale_button

$font-color-dark: #303841;
$font-color-light: #f9ffed;
$font-color-special: #f7fcd1;

  
@mixin  flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$redes:(
  whatsapp: #25D366,
  facebook: #4267B2,
  instagram: #E1306C
);
@each $red, $color in $redes {
  .btn--#{$red}{
    background-color: $color;
  }
}