*{
  margin: 0;
  padding: 0;
  font-family: 'Gantari', sans-serif;
}

body{
 background-color: #ecebe1;
}

#header{
  display: block;
  background-image: url(../images/wood_texture.webp);
}

#header a{
  text-decoration: none;
  color: #2c3639;
}

.navLogo{
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  font-variant: small-caps;
}

.navBar{
  display: inline-block;
  margin-left: 150px;
}

.navBar li{
  display: inline-block;
  margin: 15px;
  background-color: #ece5c7;
  border-radius: 6px;
  border-top:solid 7px #2c3639;
  border-right:solid 7px #3f4e4f;
  border-bottom:solid 7px #a28b5c;
  border-left:solid 7px #dcd7c9;
  font-size: large;
  text-transform: uppercase;
}

.navBar li a{
  display: block;
  padding: 10px;
  font-weight: bolder;
}

.mainHome h2{
  margin: 20px 0 20px 10px;
  color: #2c3639;
}

.mainHome h3{
  margin: 20px 0 20px 10px;
  color: #2c3639
}

.mainHome section{
  margin: 25px 0 25px 10px;
}

.text{
  display: inline-block;
  width: 500px;
  margin: 0 10px 10px 20px;
  color: #3f4e4f;
  text-align: justify;
}

.mainHome section img{
  border-radius: 15px;
}

.mainGalery h2{
  margin: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.imgGalery{
  margin: 5px;
  padding: 5px;
}

.imgGalery img{
  margin: 10px;
  border-style: solid;
  border-style: double;
  border-width: 4px;
  border-radius: 30px;
}

.mainShop h2{
  margin: 25px 0 0 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.onSale{
  display: inline-block;
  margin: 25px;
  padding: 15px 15px 5px 15px;
  background-color: #a28b5c36;
  border-radius: 10px;
}

.onSaleDescription{
  text-align: center;
  margin: 10px 0;
}

.onSaleDescription p{
  margin-bottom: 8px;
}

.onSaleDescription a{
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 4px 18px;
  border-color: #606969;
  border-width: 6px;
  border-style: outset;
  border-radius: 12px;
  background-color: #3f4e4f;
  text-decoration: none;
  color: azure;
  font-size: 17px;
  font-weight: bolder;
}

.mainAbout h2{
  margin: 10px;
  padding: 10px;

}

.mainAbout img{
  border-radius: 20px;
}

.mainAbout section{
  margin-bottom: 30px;
}

.mainContact h2{
  margin: 15px 0 20px 15px;
}

.mainContact form{
  margin: 0 0 300px 25px;
}

.mainContact div{
  margin: 20px 0;
}

footer{
  background-image: url(../images/wood_texture.webp);
}