* {
  margin: 0;
  padding: 0;
  font-family: "Gantari", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../images/old-paper-bg.jpg);
  background-size: cover;
}

.td-none {
  text-decoration: none;
}

.rotate180 {
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.textBox {
  max-width: 500px;
  padding: 0 15px 15px 15px;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
}

@media screen and (min-width: 992px) {
  .subtitle {
    font-size: 2em;
  }
  .textBox {
    font-size: 1.4em;
    max-width: 800px;
  }
}
.btn--whatsapp {
  background-color: #25D366;
}

.btn--facebook {
  background-color: #4267B2;
}

.btn--instagram {
  background-color: #E1306C;
}

/*------------------navbar------------------*/
header, .header-index {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2%;
  background-image: url(../images/nav-bg.jpg);
  background-size: contain;
  z-index: 2;
}
header .offcanvas-body, .header-index .offcanvas-body {
  overflow-y: visible;
}
header .divSocial, .header-index .divSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 0 10px 10px 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
header .divSocial .btn--rsocial, .header-index .divSocial .btn--rsocial {
  display: inline-block;
  margin: 4px 2px;
  height: 40px;
  width: 125px;
  border: none;
  color: #f9ffed;
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}
header .divSocial .btn--rsocial a, .header-index .divSocial .btn--rsocial a {
  color: #f9ffed;
}

.header-index {
  position: fixed;
}

.nav-link {
  color: #f9ffed;
  font-variant: small-caps;
}

.navbar-logo {
  margin: 0;
  color: #f9ffed;
  font-size: 3.5rem;
  font-family: "Great Vibes", cursive;
}

.logo_desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  header, .header-index {
    padding: 0%;
  }
  header .logo_mobile, .header-index .logo_mobile, header .divSocial, .header-index .divSocial {
    display: none;
  }
  header .navbar-logo, .header-index .navbar-logo {
    font-size: 4rem;
  }
  header .nav-link, .header-index .nav-link {
    font-size: 1.5rem;
  }
  header .container-fluid, .header-index .container-fluid, header .navbar, .header-index .navbar {
    width: 100%;
  }
  header .navbar-nav, .header-index .navbar-nav {
    margin: 0 15px;
    justify-content: space-between !important;
    align-items: flex-end !important;
  }
  header .navbar-nav .logo_desktop, .header-index .navbar-nav .logo_desktop {
    display: flex;
  }
}
/*------------------------------------------*/
/*------------------footer------------------*/
.footerText, .footerSocial {
  grid-area: fText;
}

.footerTop {
  grid-area: fTop;
}

.footerSocial {
  grid-area: fSocial;
}

footer {
  display: grid;
  color: #f9ffed;
  grid-template-areas: "fTop" "fSocial" "fText";
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(../images/footer-bg.jpg);
  background-size: contain;
}
footer img {
  width: 30px;
  height: 30px;
}

.footerText, .footerSocial, .footerTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial div {
  margin: 0 8px;
}

@media screen and (min-width: 780px) {
  footer {
    grid-template-areas: "fTop  fSocial" "fText  fText";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  footer img {
    width: 40px;
    height: 40px;
  }
  footer .footerSocial {
    justify-content: flex-end;
    margin: 10px;
  }
  footer .footerSocial div {
    margin: 0 20px;
  }
  footer .footerTop {
    position: absolute;
    justify-self: center;
    margin-top: 10px;
  }
}
/*------------------------------------------*/
/*-------------------home-------------------*/
.homepage .section1_home {
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
  background-position: center;
  background-size: cover;
}
.homepage .section1_home .section1_home_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  height: 60%;
}
.homepage .section1_home .section1_home_text h2, .homepage .section1_home .section1_home_text p {
  color: #f9ffed;
  font-size: 1.3rem;
  font-variant: small-caps;
}
@media screen and (min-width: 780px) {
  .homepage .section1_home .section1_home_text h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .homepage .section1_home .section1_home_text h2 {
    font-size: 2rem;
  }
}
.homepage .section1_home_arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  height: 40%;
}
.homepage .section1_home_arrow a img {
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
}
.homepage .section2_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  min-height: 70vh;
}
.homepage .section3_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.homepage .section3_home .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: initial;
  width: 100vw;
  height: 250px;
}
.homepage .section3_home .carousel .carousel-inner, .homepage .section3_home .carousel .carousel-inner div img {
  width: 240px;
  height: 210px;
}
.homepage .section3_home .carousel .carousel-inner div img {
  border-style: double;
  border-width: 4px;
  border-radius: 30px;
}
@media screen and (min-width: 780px) {
  .homepage .section3_home {
    margin-bottom: 60px;
  }
  .homepage .section3_home .carousel {
    width: 760px;
    height: 580px;
  }
  .homepage .section3_home .carousel .carousel_img, .homepage .section3_home .carousel .carousel-inner, .homepage .section3_home .carousel .carousel-inner div img {
    width: 560px;
    height: 530px;
  }
}

/*------------------------------------------*/
/*-------------------shop-------------------*/
.mainShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.mainShop .onSale_container .onSale, .mainShop .onSale_container .onSale .onSale-imgContainer {
  margin: 15px;
  padding: 8px;
  background-color: #dfcbb5;
  border-style: double;
  border-width: 4px;
  border-radius: 20px;
}
.mainShop .onSale_container .onSale .onSale-imgContainer {
  background-image: url(../images/old-paper2-bg.jpg);
}
.mainShop .onSale_container .onSale .onSale-imgContainer img {
  width: 240px;
  height: 210px;
}
.mainShop .onSale_container .onSale .onSaleDescription {
  text-align: center;
  margin: 10px;
}
.mainShop .onSale_container .onSale .onSaleDescription .onSaleDescription_text {
  margin: 0;
  font-size: 1.1rem;
}
.mainShop .onSale_container .onSale .onSaleDescription .price {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bolder;
}
.mainShop .onSale_container .onSale .onSaleDescription a {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 18px;
  border-color: #596E79;
  border-width: 6px;
  border-style: outset;
  border-radius: 12px;
  background-color: #3f4e4f;
  color: #f9ffed;
  font-size: 1.1rem;
  font-weight: bolder;
}
@media screen and (min-width: 780px) {
  .mainShop .onSale_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*------------------------------------------*/
/*------------------gallery-----------------*/
.mainGalery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.mainGalery .imgGalery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainGalery .imgGalery .product_img {
  margin: 10px;
  border-style: double;
  border-width: 4px;
  border-radius: 30px;
}
@media screen and (min-width: 992px) {
  .mainGalery .imgGalery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainGalery picture img {
    max-width: 680px;
  }
}

/*------------------------------------------*/
/*------------------about-------------------*/
.mainAbout {
  display: grid;
  margin: 25px 5px 0 5px;
  grid-template-areas: "s1 s1" "t1 t1" "t2 t2" "i1 i1" "s2 s2" "v1 v1";
  grid-template-columns: 1fr 1fr;
}
.mainAbout .about_subtitle1 {
  grid-area: s1;
}
.mainAbout .about_subtitle2 {
  grid-area: s2;
}
.mainAbout .about_t1 {
  grid-area: t1;
}
.mainAbout .about_t2 {
  grid-area: t2;
}
.mainAbout .about_img1 {
  grid-area: i1;
}
.mainAbout .about_video1 {
  grid-area: v1;
}
.mainAbout div p {
  text-align: justify;
}
.mainAbout .about_img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainAbout .about_img1 img {
  margin: 10px;
  height: 240px;
}
.mainAbout .about_subtitle2 {
  margin-top: 25px;
}
.mainAbout .about_video1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainAbout .about_video1 iframe {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 98%;
}

@media screen and (min-width: 600px) {
  .mainAbout {
    grid-template-areas: "s1 s1" "t1 i1" "t2 i1" "s2 s2" "v1 v1";
  }
  .mainAbout div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .mainAbout {
    grid-template-areas: "s1 s1 s1" "t1 t1 i1" "t2 t2 i1" "s2 s2 s2" "v1 v1 v1";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about_subtitle1, .about_subtitle2 {
    justify-self: center;
  }
  .about_t1, .about_t2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .about_img1 {
    justify-self: flex-start;
  }
  .mainAbout iframe {
    margin-bottom: 30px;
  }
}
/*------------------------------------------*/
/*------------------contact-----------------*/
.mainContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
  background-position: center;
  background-size: cover;
}
.mainContact .contactForm_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 30px;
  color: #303841;
  background-color: #DFD3C3;
}
.mainContact .contactForm_container .contactForm {
  font-size: 1.2rem;
  text-align: center;
}
.mainContact .contactForm_container .contactForm .contact_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: initial;
  padding: 4px;
}
.mainContact .contactForm_container .contactForm .contact_div2 {
  padding: 6px;
}
@media screen and (min-width: 780px) {
  .mainContact .contactForm_container {
    padding: 60px;
  }
}

/*------------------------------------------*/
.nav-link:hover, .navbar-logo:hover {
  color: #f7fcd1;
  transform: scale(1.015);
  transition: all 0.02s;
}

.hover_zoom:hover, header .divSocial .btn--rsocial:hover, .header-index .divSocial .btn--rsocial:hover {
  transform: scale(1.075);
}

.rotate180:hover {
  transform: scale(1.075) rotate(180deg);
}

.section1_home_text h2, .section1_home_text p {
  -webkit-animation: title-zoom 1.5s;
          animation: title-zoom 1.5s;
}

@-webkit-keyframes title-zoom {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes title-zoom {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
.hover_zoom-onSale:hover {
  -webkit-animation: onSaleZoom forwards 1.15s;
          animation: onSaleZoom forwards 1.15s;
}

@-webkit-keyframes onSaleZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes onSaleZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.arrow-anim {
  -webkit-animation: pulse-1 3s infinite;
          animation: pulse-1 3s infinite;
}

@-webkit-keyframes pulse-1 {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes pulse-1 {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.onSaleDescription a:hover {
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: scale(1);
  -webkit-animation: pulse-2 2s infinite;
          animation: pulse-2 2s infinite;
}

@-webkit-keyframes pulse-2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}/*# sourceMappingURL=styles.css.map */