*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Gantari', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #fcdec08f;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.rotate180{
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}
/* -------- navBar -------- */
.header-index{
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2%;
  background-image: url(../images/nav-bg.jpg);
  background-size: contain;
  z-index: 2;
}

header{
  position: sticky;
  top: 0;
  padding: 2%;
  background-image: url(../images/nav-bg.jpg);
  background-size: contain;
  z-index: 2;
}

.navbar_desktop{
  display: none;
  margin: 0;
}

.navbar_desktopLogo a{
  text-decoration: none;
}

.nav-link{
  color: #f9ffed;
  font-variant: small-caps;
}

.navbar-logo{
  margin: 0;
  color: #f9ffed;
  font-size: 55px;
  font-family: 'Great Vibes', cursive;
}
/* -------- --- -------- */

/* -------- main -------- */
.section1_home{
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
  background-position: center;
  background-size: cover;
}

.section1_home_text h2, .section1_home_text p{
  color: #f9ffed;
  font-size: 20px;
  font-variant: small-caps;
}

.section1_home div{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1_home_arrow{
  justify-content: flex-end;
}

.arrow img{
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
}

.section2_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  min-height: 70vh;
}

.subtitle{
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}

.textBox{
  max-width: 500px;
  padding: 0 15px 15px 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
}

.section3_home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.product_img, .onSale img, .carousel_img{
  width: 240px;
  height: 210px;
  border-style: double;
  border-width: 4px;
  border-radius: 30px;
}

.carousel-inner{
  width: 240px;
  height: 210px;
}

.carousel{
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img, .onSale img{
  margin: 10px;
}

.mainGalery, .mainShop{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.imgGalery{
  display: flex;
  flex-direction: column;
}

.onSale{
  margin: 15px;
  padding: 8px 8px 5px 8px;
  background-color: #a28b5c36;
  border-radius: 10px;
}

.onSaleDescription{
  text-align: center;
  margin: 10px 0;
}

.onSaleDescription p{
  margin-bottom: 8px;
}

.onSaleDescription a{
  display: inline-block;
  margin-top: 15px;
  padding: 4px 18px;
  border-color: #606969;
  border-width: 6px;
  border-style: outset;
  border-radius: 12px;
  background-color: #3f4e4f;
  color: azure;
  font-size: 17px;
  font-weight: bolder;
}

.mainAbout{
  display: grid;
  margin: 25px 5px 0 5px;
  grid-template-areas: 
    "s1 s1"
    "t1 i1"
    "t2 t2"
    "s2 s2"
    "v1 v1";
  grid-template-columns: 2fr 1fr;
}

.about_subtitle1{
  grid-area: s1;
}

.about_subtitle2{
  grid-area: s2;
  margin-top: 10px;
}

.about_t1{
  grid-area: t1;
}

.about_t2{
  grid-area: t2;
}

.about_img1{
  grid-area: i1;
  display: flex;
  align-items: center;
}

.about_video1{
  grid-area: v1;
  display: flex;
  justify-content: center;
}

.mainAbout div p{
  text-align: justify;
}

.about_img1 img{
  height: 240px;
  border-radius: 10px;
}

.about_video1 iframe{
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 98%;
}

.mainContact{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/cover-bg.jpg);
  background-position: center;
  background-size: cover;
}

.contactForm_container{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 15px;
  border-radius: 30px;
  color: #361500;
  background-color: #FCDEC0;
}
.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.contact_div1{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.contact_div2{
  padding: 6px;
}

/* -------- --- -------- */

/* -------- footer -------- */
.footerText{
  grid-area: fText;
}

.footerTop{
  grid-area: fTop;
}

.footerSocial{
  grid-area: fSocial;
}

footer{
  display: grid;
  color: #f9ffed;
  grid-template-areas: 
    "fTop"
    "fSocial"
    "fText";
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(../images/footer-bg.jpg);
  background-size: contain;
}

.footerText, .footerTop, .footerSocial{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial div{
  margin: 0 8px;
}

footer img{
  width: 30px;
  height: 30px;
}
/* -------- --- -------- */

/* -------- eye candy -------- */
.nav-link:hover, .navbar-logo:hover{
  color: #f7fcd1;
  transform: scale(1.015);
  transition: all .02s;  
}

.section1_home_text h2, .section1_home_text p{
  animation: title-zoom 1.5s;
}
  @keyframes title-zoom {
    0% {
      transform: scale(3);
    }

    100% {
      transform: scale(1);
    }
  }

.hover_zoom:hover, footer img:hover{
  transform: scale(1.075)
}

.rotate180:hover{
  transform: scale(1.075) rotate(180deg);
}

.arrow{
  animation: pulse-1 3s infinite;
  }
  
  @keyframes pulse-1 {
  0% {
    transform: scale(0.8);
  }
  
  50% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0.8);
  }
  }

.onSaleDescription a:hover{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-2 2s infinite;
  }
  
  @keyframes pulse-2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  }
/* -------- --- -------- */
  
/* -------- media queries -------- */
@media screen and (min-width: 600px){

  .product_img, .onSale img, .carousel_img, .carousel-inner{
    width: 300px;
    height: 270px;
  }
  
  .carousel{
    width: 400px;
    height: 320px;
  }

  .onSale{
    margin: 25px;
    padding: 18px 18px 5px 18px;
  }

  .mainAbout{
    grid-template-areas: 
      "s1 s1"
      "t1 i1"
      "t2 i1"
      "s2 s2"
      "v1 v1";
  }

  .about_img1{
    justify-content: center;
  }

  .about_img1 img{
    height: 320px;
  }

  .contact_div2{
    padding: 20px;
  }

  .footerSocial div{
    margin: 0 15px;
  }
}

@media screen and (min-width: 780px){

  .section1_home_text h2{
    font-size: 1.6em;
  }

  .product_img, .onSale img, .carousel_img, .carousel-inner{
    width: 360px;
    height: 330px;
  }

  .carousel{
    width: 480px;
    height: 380px;
  }
}

@media screen and (min-width: 992px){

  header, .header-index{
    padding: 0;
  }

  .navbar{
    display: none;
  }

  .navbar_desktopLink1{
    grid-area: l1;
  }
  
  .navbar_desktopLink2{
    grid-area: l2;
  }
  
  .navbar_desktopLink3{
    grid-area: l3;
  }
  
  .navbar_desktopLink4{
    grid-area: l4;
  }
  
  .navbar_desktopLogo{
    grid-area: li;
  }
  
  .navbar_desktop{
    display: grid;
    padding: 15px 5px 0 5px;
    grid-template-areas:
    "l1 l2 li l3 l4";
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  }
  .navbar_desktop li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  
  .navbar_desktopLogo a h1{
    font-size: 70px;
  }  
  
  .section1_home_text h2{
    font-size: 2em;
  }

  .subtitle{
    font-size: 2em;
  }

  .textBox{
    font-size: 1.4em;
    max-width: 800px;
  }

  .section2_home{
    min-height: 55vh;
  }

  .section3_home{
    margin-bottom: 60px;
  }

  .carousel_img, .carousel-inner{
    width: 560px;
    height: 530px;
  }

  .carousel{
    width: 760px;
    height: 580px;
  }
  
  .imgGalery, .onSale_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainAbout{
    grid-template-areas: 
      "s1 s1 s1"
      "t1 t1 i1"
      "t2 t2 i1"
      "s2 s2 s2"
      "v1 v1 v1";
    grid-template-columns: 1fr 1fr 1fr;
}

  .about_subtitle1, .about_subtitle2{
    justify-self: center;
  }

  .about_t1, .about_t2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .about_img1{
    justify-self: flex-start;
  }

  .mainAbout iframe{
    margin-bottom: 30px;
  }

  .contactForm_container{
    padding: 60px;
  }

  footer{
    grid-template-areas: 
      "fTop  fSocial"
      "fText  fText";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  footer img{
    width: 40px;
    height: 40px;
  }

  .footerSocial{
    justify-content: flex-end;
    margin: 10px;
  }

  .footerSocial div{
    margin: 0 20px;
  }


  .footerTop{
    position: absolute;
    justify-self: center;
    margin-top: 10px;
  }
}