*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Gantari', sans-serif;
}

body{
  background-color: #fcdec08f;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* -------- navBar -------- */
header{
  position: sticky;
  top: 0;
  background-image: url(../images/img_12.jpg);
  background-size: contain;
  z-index: 1;
}

.navBarLink1{
  grid-area: l1;
}

.navBarLink2{
  grid-area: l2;
}

.navBarLink3{
  grid-area: l3;
}

.navBarLink4{
  grid-area: l4;
}

.navBarLogo{
  grid-area: li;
}

.navBar{
  display: grid;
  height: 95px;
  padding: 10px 5px;
  grid-template-areas:
    "li li li li li"
    "l1 l1 .  l4 l4"
    ".  l2 .  l3 . ";
}

.navBar li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar a{
  color: #f9ffed;
  font-variant: small-caps;
}

.navBarLogo a h1{
  font-size: 45px;
  font-variant: normal;
  font-family: 'Great Vibes', cursive;
}
/* -------- --- -------- */

/* -------- main -------- */
.section1_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 115px);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/img_10.jpg);
  background-position: center;
  background-size: cover;
}

.section1_home h2, .section1_home p{
  color: #f9ffed;
  font-size: 20px;
  font-variant: small-caps;
}

.section2_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  min-height: 70vh;
}

.subtitle{
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}

.textBox{
  max-width: 500px;
  padding: 0 15px 15px 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
}

.section3_home, .section3_home div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img, .onSale img{
  margin: 10px;
  width: 240px;
  height: 210px;
  border-style: double;
  border-width: 4px;
  border-radius: 30px;
}

.mainGalery, .mainShop{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.imgGalery{
  display: flex;
  flex-direction: column;
}

.onSale{
  margin: 15px;
  padding: 8px 8px 5px 8px;
  background-color: #a28b5c36;
  border-radius: 10px;
}

.onSaleDescription{
  text-align: center;
  margin: 10px 0;
}

.onSaleDescription p{
  margin-bottom: 8px;
}

.onSaleDescription a{
  display: inline-block;
  margin-top: 15px;
  padding: 4px 18px;
  border-color: #606969;
  border-width: 6px;
  border-style: outset;
  border-radius: 12px;
  background-color: #3f4e4f;
  color: azure;
  font-size: 17px;
  font-weight: bolder;
}

.mainAbout{
  display: grid;
  margin: 25px 5px 0 5px;
  grid-template-areas: 
    "s1 s1"
    "t1 i1"
    "t2 t2"
    "s2 s2"
    "v1 v1";
  grid-template-columns: 2fr 1fr;
}

.about_subtitle1{
  grid-area: s1;
}

.about_subtitle2{
  grid-area: s2;
  margin-top: 10px;
}

.about_t1{
  grid-area: t1;
}

.about_t2{
  grid-area: t2;
}

.about_img1{
  grid-area: i1;
  display: flex;
  align-items: center;
}

.about_video1{
  grid-area: v1;
  display: flex;
  justify-content: center;
}

.mainAbout div p{
  text-align: justify;
}

.about_img1 img{
  height: 240px;
  border-radius: 10px;
}

.about_video1 iframe{
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 98%;
}

.mainContact{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/img_10.jpg);
  background-position: center;
  background-size: cover;
}

.contactForm_container{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 15px;
  border-radius: 30px;
  color: #361500;
  background-color: #FCDEC0;
}
.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.contact_div1{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.contact_div2{
  padding: 6px;
}

/* -------- --- -------- */

/* -------- footer -------- */
.footerText{
  grid-area: fText;
}

.footerTop{
  grid-area: fTop;
}

.footerSocial{
  grid-area: fSocial;
}

footer{
  display: grid;
  color: #f9ffed;
  grid-template-areas: 
    "fTop"
    "fSocial"
    "fText";
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(../images/img_11.jpg);
  background-size: contain;
}

.footerText, .footerTop, .footerSocial{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial div{
  margin: 0 8px;
}

footer img{
  width: 30px;
  height: 30px;
}
/* -------- --- -------- */

/* -------- media queries -------- */
@media screen and (min-width: 600px){
  .navBar{
    grid-template-areas:
    "l1 li li li l4"
    ".  l2 .  l3 . ";
  }

  .navBar li{
    font-size: 1.25em;
  }

  .section3_home div{
    margin-bottom: 20px;
  }

  .product_img, .onSale img{
    width: 300px;
    height: 270px;
  }

  .onSale{
    margin: 25px;
    padding: 18px 18px 5px 18px;
  }

  .mainAbout{
    grid-template-areas: 
      "s1 s1"
      "t1 i1"
      "t2 i1"
      "s2 s2"
      "v1 v1";
  }

  .about_img1{
    justify-content: center;
  }

  .about_img1 img{
    height: 320px;
  }

  .contact_div2{
    padding: 20px;
  }

  .footerSocial div{
    margin: 0 15px;
  }
}

@media screen and (min-width: 780px){

  .navBar{
    grid-template-areas:
      "li li li li"
      "l1 l2 l3 l4";
  }

  .section1_home h2{
    font-size: 1.6em;
  }

  .product_img, .onSale img{
    width: 360px;
    height: 330px;
  }
}

@media screen and (min-width: 1024px){

  .navBar{
    grid-template-areas:
    "l1 l2 li l3 l4";
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  }

  .navBar li{
    font-size: 1.5em;
  }

  .navBarLogo a h1{
    font-size: 70px;
  }

  .subtitle{
    font-size: 2em;
  }

  .textBox{
    font-size: 1.4em;
    max-width: 700px;
  }

  .section3_home div{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .imgGalery, .onSale_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footerSocial div{
    margin: 0 20px;
  }

  footer img{
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px){

  .section1_home h2{
    font-size: 2em;
  }

  .subtitle{
    font-size: 2em;
  }

  .textBox{
    font-size: 1.4em;
    max-width: 800px;
  }

  .section2_home{
    min-height: 55vh;
  }

  .section3_home{
    margin-bottom: 60px;
  }

  .mainAbout{
    grid-template-areas: 
      "s1 s1 s1"
      "t1 t1 i1"
      "t2 t2 i1"
      "s2 s2 s2"
      "v1 v1 v1";
    grid-template-columns: 1fr 1fr 1fr;
}

  .about_subtitle1, .about_subtitle2{
    justify-self: center;
  }

  .about_t1, .about_t2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .about_img1{
    justify-self: flex-start;
  }

  .mainAbout iframe{
    margin-bottom: 30px;
  }

  .contactForm_container{
    padding: 60px;
  }

  footer{
    grid-template-areas: 
      "fTop  fSocial"
      "fText  fText";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .footerSocial{
    justify-content: flex-end;
    margin: 10px;
  }

  .footerTop{
    position: absolute;
    justify-self: center;
    margin-top: 10px;
  }
}